{%extends "layout.html" %}
{%block content%}
<h1>Registration Page</h1>
<form method="POST" action="">
    {{form.hidden_tag()}}
    <div>
        {{form.email.label}}
        {{form.email}}
    </div>
    <div>
        {{form.name.label}}
        {{form.name}}
    </div>
    <div>
        {{form.company_name.label}}
        {{form.company_name}}
    </div>
    <div>
        {{form.company_gst_number.label}}
        {{form.company_gst_number}}
    </div>
    <div>
        {{form.company_info.label}}
        {{form.company_info}}
    </div>
    <div>
        {{form.position.label}}
        {{form.position}}
    </div>
    <div>
        {{form.password.label}}
        {{form.password}}
    </div>
    <div>
        {{form.confirm_password.label}}
        {{form.confirm_password}}
    </div>
    <div>
        {{form.submit}}
    </div>
    <div>
        <p>Already have an account? Login Here<a href="{{url_for('employeelogin')}}">Sign In</a></p>
    </div>
</form>
{%endblock%}