{%extends "layout.html" %} {%block content%}
<div>
  <div style="position: absolute; z-index: 1;">
    <img
      src="{{url_for('static',filename='cover.jpg')}}"
      class="img-fluid h-25 w-100"
    />
  </div>
  <div style="position: absolute; z-index: 2;">
    <img
      src="{{url_for('static',filename='profile_pics/'+employer.profile_picture)}}"
      class="img-fluid h-25 rounded-circle"
    />
  </div>
</div>
<div style="position:absolute;top: 25%;width: 100%">
  <h2>Name:{{ employer.name }}</h2>
  <h2>Email:{{ employer.email }}</h2>
  <h2>Company Name:{{ employer.company_name }}</h2>
  <h2>Company Info:{{ employer.company_info }}</h2>
  <h2>Position:{{ employer.position }}</h2>
</div>
{%endblock%}
